<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Recuperação de arquivos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <h1>Recuperação de arquivos</h1>

    <form action="/web-files-access" method="post">
        <label for="index_pa">PA:</label>
        <select name="index_pa" id="index_pa">
            <option value="">Selecione o PA</option>
            {% for index, value in location_list_index %}
            <option value="{{ index }}">{{ value["nome"] }}</option>
            {% endfor %}
        </select>

        <script>
            $(document).ready(function () {
                $("#index_pa").change(function () {
                    var index_pa = $(this).val();

                    $.get("/get-snapshots/" + index_pa, function (data) {
                        var options = "";

                        $.each(data.snapshots, function (index, value) {
                            options += '<option value="' + value + '">' + value + '</option>';
                        });

                        $("#snapshot").html(options);
                    });
                });
            });


        </script>

        <label for="snapshot">Snapshot:</label>
        <select name="snapshot" id="snapshot">
            <option value="">Selecione o snapshot</option>
        </select>

        <button type="submit">Recuperar</button>
    </form>

    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
</body>

</html>